.main-card {
    background-color: #ffffff;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    box-shadow: 7px 10px 0 rgba(0, 0, 0, 1);
    border: 2px solid black;

    @media (max-width: 480px) {
        width: 320px;
        height: auto;
        border-radius: 16px;
        box-shadow: 5px 7px 0 rgba(0, 0, 0, 1);
    }
}